* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}
.select option:hover,.select option:checked {
  background-color: pink;
  box-shadow: 0 0 10px 100px #dc3b99 inset;
}
.header {
  display: flex;
  align-items: center;
}
body {
  background-image: url("images/background1.png");
  background-attachment: fixed;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: max-content;
  color:#ffff;
  border: 3px solid white;
  font-size: 23px;
  background-color:#05a67c;
  height: 40px;
  width: 350px;
  border-radius: 18px;
  font-weight: bold;
  text-align: center;
  padding: auto;
}
.logo {
  text-align: center;
  margin: 2rem;
}
#home {
  display: flex;
  justify-content: center;
  background-color: #02463796;
  padding: 15px;
  gap: 35px;
  border-radius: 12px;
  margin: 0 auto;
  
}

#welcome {
  color:#ffff;
  background-color: #024637;
  text-align: center;
  font-size: 35px;
  border-radius: 12px;
  padding: 1rem;
  margin: 100px;
  margin-bottom: 50px;
}
#about {
  color:#ffff;
  background-color: #024637;
  text-align: center;
  font-size: 30px;
  padding: 1rem;
  border-radius: 12px;
  margin: 20px;
}

.filters-container {
  display: flex;
  justify-content: center;
  background-color: #024637ce;
  border-radius: 12px;
  align-items: center;
  width: max-content;
  gap: 30px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 5px;
}

#a-z {
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 7px 0px 7px; 
  width: 200px;
  background-color: #05A67C;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

#status {
  text-align: center;
  padding: 7px 0px 7px;
  width: 200px;
  background-color: #05A67C;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 22px;
  font-weight: 600;
  color: white;
}

#serie {
  text-align: center;
  padding: 7px 0px 7px;
  width: 200px;
  background-color: #05A67C;
  border: 3px solid white;
  border-radius: 15px;
  font-size: 23px;
  font-weight: 600;
  color: white;
}

.search-input {
  color: white;
  background-color:#05A67C;
  font-size: 20px;
  width: 200px;
  height: 21px;
  border: none;
  border-radius: 15px;
  padding: 12px;
}

.percentage {
  color: #ffff;
  font-size:large;
  text-align: center;
}

.cards-container {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  background-color:#05a67b;
  line-height: 1.5;
  border-radius: 12px;
  margin: 1rem;
  padding: 1rem;
  min-height: 640px;
  font-size: 19px;
  width: 320px;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
}

.poster-img {
  height: 330px;
  width: 270px;
  margin-bottom: 10px;
  border-radius: 20px;
  object-fit: cover;
}

h3 {
  letter-spacing: 2px;
}

.nickname {
  margin-bottom: 5px;
  font-style: oblique;
  letter-spacing: 2px;
}

#a-z {
  display: flex;
  text-align: center;
  font-size: 20px;
}

#status {
  display: flex;
  text-align:center;
  font-size: 20px;
}

#serie {
  display: flex;
  text-align: center;
  font-size: 20px;
}
















/* Estilos para telas pequenas (até 480px) 
@media screen (max-width: 480px){
  #a-z option {
    font-size: 12px;
  }
  
}
 
  /* Estilos para telas pequenas aqui */
/*}
/* Estilos para telas médias (de 481px até 768px) */
/*@media (min-width: 481px) and (max-width: 768px) {
  /* Estilos para telas médias aqui */

/* Estilos para telas grandes (mais de 768px) */
/*@media (min-width: 769px) {
  /* Estilos para telas grandes aqui */

